.Container {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    padding: 5px 0px;
    margin: 0px 10px;
}

.rightContainer {
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* width: 2000px; */
}

.shortCard {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin: 10px; */
    width: 110%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.shortCard p {
    font-size: 1em;
    color: #777;
}

.headingAndImage img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.headingAndImage h2 {
    font-size: 25px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.details span {
    font-weight: bold;
    color: black;
    font-size: larger;
}

.details h3 {
    color: rgba(52, 61, 61, 0.993);
    padding-bottom: 15px;
}

.details p {
    font-size: medium;
    color: rgb(95, 93, 93);
}

/* ============ Responsive Breakpoints ============ */

@media (min-width: 700px) {
    .shortCard {
        flex-direction: row;
        align-items: center;
    }

    .headingAndImage {
        width: 40%;
    }

    .details {
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .Container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .shortCard {
        width: 70%;
    }
}