body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 10px; /* Better spacing between cards */
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 23%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.card h2 {
    font-size: 24px;
    margin: 10px 0 5px;
}

.card h4 {
    margin: 5px 0;
    font-size: 18px;
    color: #333;
}

.card p {
    font-size: 0.95em;
    color: #777;
    padding: 10px 0;
}

.detailButton {
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.add-cart-button:hover {
    background-color: #e65c00;
}

@media screen and (max-width: 1024px) {
    .card {
        flex: 1 1 31%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex: 1 1 48%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        flex: 1 1 100%;
    }
}